*** 이것은 2개의 launch 파일과 하나의 node 가 합쳐져있는 런치파일입니다.
<launch>
 <arg name="device_name"             default="/dev/ttyUSB0"/>
 <arg name="baud_rate"               default="57600"/>

 <arg name="left_wheel"              default="1"/>
 <arg name="right_wheel"             default="2"/>

 <arg name="profile_velocity"        default="200"/>
 <arg name="profile_acceleration"    default="50"/>

 <param name="device_name"           value="$(arg device_name)"/>
 <param name="baud_rate"             value="$(arg baud_rate)"/>

 <param name="left_wheel"            value="$(arg left_wheel)"/>
 <param name="right_wheel"           value="$(arg right_wheel)"/>

 <param name="profile_velocity"      value="$(arg profile_velocity)"/>
 <param name="profile_acceleration"  value="$(arg profile_acceleration)"/>

 <node name="velocity_control" pkg="dynamixel_workbench_controllers" type="velocity_control" required="true" output="screen"/>
 <arg name="joy_config" default="ps3" />
 <arg name="joy_dev" default="/dev/input/js0" />
 <arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />
  
 <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
 </node>

 <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <rosparam command="load" file="$(arg config_filepath)" />
 </node>
 <node name ="control_with_joy" pkg="test" type="control_with_joy.py" output="screen"/>
   *** 35번째줄에있는 것이 본인이 자체적으로 만든 조이스틱컨트롤러 세팅을 이용하는 줄입니다. 우선 node name에 본인이 만든 파일의 이름을 넣고 
  *** pkg 는 그 파일이 속해있는 패키지의 이름, 그리고 type 은 그파일의 이름과 파이썬을 이용했다면 py, 씨쁠쁠이라면 cpp 등을 이용하고 
  *** 이 결과를 터미널상에 띄우려면 output="screen"/>을 추가합니다 
</launch>
